body {
    background: url("bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.font-title{
    color:#F3BE60;
    font-family: Calibri ;
}
h3, h2 {
    color: #FFFFFF;

}
.box {

    background-color: rgba(100, 100, 100, 0.5);
    border-style:solid;
    border-width:1px;
    padding-left: 15px;
    width: 95%;
    font-family: Consolas;
}
span{
    color:#F3BE60;
    font-family: Consolas;
}
